html {
	font-size: 15px;
	font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#main {
	margin-left: 70px;
	margin-right: 70px;
}

#active {
	font-size: 1.75em;
}

#blue-link:hover {
	color: blue;
	text-decoration: none;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
	font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
	font-size: 1rem;
	font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
	font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1rem;
	font-weight: normal;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar.navbar-default {
	background-color: #fff;
	border: none;

	padding-right: 70px;
	margin-bottom: 0;

}

.main-nav {
	padding: 0 40px;
}

.sub-nav {
	padding: 0 38px;
}


.nav.navbar-nav {
	margin-left: 0;
}

.dropdown-menu {
	background-color: #eee;
	border-radius: 0;
	border: 1px solid #ccc;
	padding: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	box-sizing: inherit;
	max-width: 310px;
}

.dropdown-menu li a span {
	float:right;
	margin-right: -1.5rem;
}

.dropdown-menu li {
	padding: 18px 30px 18px 24px;
}

.dropdown-menu li a:first-child {
	padding: 0 0.5rem 0 0;
}

.dropdown-menu li:hover, .dropdown-menu li a:hover {
	background-color: #E0E0E0;
}

.dropdown-menu li:hover .sub-dropdown {
	display: block;
	top: 0;
	left: 100%;
	margin-top: -1px;
	border-left: 0;
	border-radius: 0;
	background-color: #e6e6e6;
	height: 100%;
	width: 100%;
	box-sizing: inherit;
}

.sub-dropdown li:hover, .sub-dropdown li a:hover {
	background-color: #ccc;
}

.btn.btn-default {
	border-left: none;
}

.form-control {
	border-radius: 0;
}

ul.nav.navbar-nav li a:hover {
	text-decoration: underline;
}

ul.nav.navbar-nav li a {
	color: black;
}

.main-content {

	padding: 0 70px;
}

.jumbo {
	padding: 0 70px;
	height: 70%;
}



.jumbotron-content {
	padding: 0 73px;
	margin: 0 auto;
	vertical-align: middle;
	position: absolute;
	width: 100%;
	height: inherit;
	top: 0;
	bottom: 0;

}

.jumbotron-content div {
	width: 40%;
	margin: 15% 0;
}

.jumbotron-content div a {
	padding: 10px 22px 7px 24px;
	border: 2px solid black;
	color: #fff;
	background-color: #000;
	margin-top: 60px;
}

.jumbotron-content div a:hover {
	text-decoration: none;
	background-color: #1c1717;
}

.grid {
	padding: 12px 36px 0 36px;

}

.grid h2 {
	padding: 36px 0 4px 0;
	margin: 0;
}

.grid h2 a {
	float: right;
	margin: 8px 0 0 12px;
}

.grid .row {
	padding-top: 10px;
}


.grid-content {
	padding: 0;
}


.item div {
	margin: 1.5rem 0 0 0;
	padding: 0 5px;
}

.item div a h4 {
	font-size: 1rem;
	font-weight: bold;
}

.item div a {
	color: inherit;
}

.item div a:hover {
	text-decoration: none;
}

.item div a:hover h4 {
	text-decoration: underline;
}

.item div a img {
	padding: 10px 10px;
}

.item div a:hover img {
	border: 1px solid black;
}

.item div div {
	padding-left: 0;
}

.fa-star {
	color: #ccc;

}

.checked {
	color: blue;
}

a.row4 {
	color: #000;
}

a.row4:hover {
	text-decoration: none;
}

a.row4:hover h3 {
	text-decoration: underline;
}
a.row4:hover img {
	opacity: 0.75;
}
/*Windows_hello*/
.windows_hello {
	padding: 0;

}
.windows_hello img {
	width: 70px;
	height: auto;
}
.text-center {
	padding: 1rem 7rem;
}

.footer {
	background-color:#f2f2f2;
	font-size:11px;
	margin-top: 50px;
}

.footer .container {
	padding-top: 36px;
	width: 90%;
	margin: 0 auto;
}
.footer li, .footer a {
	color: #616161;
}

.footer li {
	padding:5px;
	font-size: 1rem;
}

.footer a, #copyright {
	font-size: 0.75rem;
}

/*Carousel-Lan*/
#slider-control img{
	padding-top: 150px;
	margin: 0 auto;
}

.carousel-control.right {
	right: -50px;
}

.carousel-control.left {
	left: -50px;
}
@media screen and (max-width: 992px){
#slider-control img {
	padding-top: 70px;
	margin: 0 auto;
}
}

.carousel-showmanymoveone .carousel-control {
	width: 4%;
	background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
	margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
	margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
	display: none;
}
@media all and (min-width: 768px) {
	.carousel-showmanymoveone .carousel-inner > .active.left,
	.carousel-showmanymoveone .carousel-inner > .prev {
		left: -50%;
	}
	.carousel-showmanymoveone .carousel-inner > .active.right,
	.carousel-showmanymoveone .carousel-inner > .next {
		left: 50%;
	}
	.carousel-showmanymoveone .carousel-inner > .left,
	.carousel-showmanymoveone .carousel-inner > .prev.right,
	.carousel-showmanymoveone .carousel-inner > .active {
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner .cloneditem-1 {
		display: block;
	}

}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
	.carousel-showmanymoveone .carousel-inner > .item.active.right,
	.carousel-showmanymoveone .carousel-inner > .item.next {
		-webkit-transform: translate3d(50%, 0, 0);
		transform: translate3d(50%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.active.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev.right,
	.carousel-showmanymoveone .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}
@media all and (min-width: 992px) {
	.carousel-showmanymoveone .carousel-inner > .active.left,
	.carousel-showmanymoveone .carousel-inner > .prev {
		left: -16.666%;
	}
	.carousel-showmanymoveone .carousel-inner > .active.right,
	.carousel-showmanymoveone .carousel-inner > .next {
		left: 16.666%;
	}
	.carousel-showmanymoveone .carousel-inner > .left,
	.carousel-showmanymoveone .carousel-inner > .prev.right,
	.carousel-showmanymoveone .carousel-inner > .active {
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner .cloneditem-2,
	.carousel-showmanymoveone .carousel-inner .cloneditem-3,
	.carousel-showmanymoveone .carousel-inner .cloneditem-4,
	.carousel-showmanymoveone .carousel-inner .cloneditem-5,
	.carousel-showmanymoveone .carousel-inner .cloneditem-6  {
		display: block;
	}
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
	.carousel-showmanymoveone .carousel-inner > .item.active.right,
	.carousel-showmanymoveone .carousel-inner > .item.next {
		-webkit-transform: translate3d(25%, 0, 0);
		transform: translate3d(25%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.active.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-25%, 0, 0);
		transform: translate3d(-25%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev.right,
	.carousel-showmanymoveone .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}
/*REponsive*/
@media (min-width: 768px) and (max-width: 992px) {
	.main-content:first-child {padding: 0;}
	.jumbo {padding: 0;}
	.jumbotron-content div {margin-top: 10%;}
}
@media (max-width: 768px) {
	.main-content:first-child {padding: 0;}
	.jumbo {padding: 0;}
	.jumbotron-content {
		position: static;
		text-align: center;
	}
	.jumbotron-content div {
		position: static;
		margin: 10% 0;
		width: 100%;
	}

}
